.helloWorld,
.hello-world,
.hello_world {
  height: 100vh;
}

.hello-world {
  background-color: #000;
  color: #fff;
}

.helloWorld {
  background-color: #ff4455;
}

.hello_world {
  background-color: #aa4455;
}


 

